*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(135deg, rgba(245, 247, 250, .9), rgba(195, 207, 226, .9)),
        url('/images/camilo-fierro-z7rcwqCi77s-unsplash.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-blend-mode: soft-light;
}

.adoption__form h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 25px;
  font-weight: 700;
  position: relative;
}

.adoption__form h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background: #de8029;
}

.adoption__form label {
  display: block;
  margin-bottom: 10px;
  color: #011931;
  font-weight: 500;
}

.adoption__form input[type="text"],
.adoption__form select,
.adoption__form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color.3s ease;
}

.adoption__form input[type="text"]:focus,
.adoption__form select:focus,
.adoption__form textarea:focus {
  outline: none;
  border-color: #de8029;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.adoption__form textarea {
  resize: vertical;
  min-height: 120px;
  max-height: 250px;
}

.adoption__form button {
  width: 100%;
  padding: 12px;
  background: #de8029;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  transition: background .3s ease, transform .2s ease;
}

.adoption__form button:hover {
  background: #c86e2d;
  transform: scale(1.02);
}

.adoption__form button:active {
  transform: scale(0.98);
}

.adoption__form {
  max-width: 450px;
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, .2);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, .18);
  text-align: left;
  transition: transform .3s ease;
}

.adoption__form:hover {
  transform: translateY(-5px);
}

